= form_for @scene do |f|
  - if @scene.errors.any?
    #error_explanation
      %h2= "#{pluralize(@scene.errors.count, "error")} prohibited this scene from being saved:"
      %ul
        - @scene.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
